* {
font-family: "JetBrainsMono Nerd Font";

font-weight: bold;
min-height: 0;
/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
font-size: 95%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}



window#waybar {
    background: transparent;
	border-radius: 5px;
	color: whitesmoke;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

tooltip {
	color: #cdd6f4;
   background: #1e1e2e;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

tooltip label {
    color: #cdd6f4;
    padding-right: 2px;
    padding-left: 2px;
}

/*-----module groups----*/
.modules-right,
.modules-center,
.modules-left {
	border-radius: 5px 5px 5px 5px;
	background-color:#1e1e2e;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 4px;	
				}

#taskbar button,
#workspaces button {
    color: #cba6f7;
    background-color: #cdd6f4; 
    padding: 0px 5px;
    margin:4px 1px;
    border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
    
}

#taskbar button.active,
#workspaces button.active {
    color: #cba6f7;
    border-radius: 15px;
    background-color: #cdd6f4;
    min-width: 40px;
    background-size: 400% 400%;
    opacity:1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    color: #b4befe;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

#taskbar button:hover,
#workspaces button:hover {
    color: #b4befe;
    border-radius: 15px;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
#battery,
#backlight,
#backlight-slider,
#bbattery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#cava,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava,
#custom-cycle_wall,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    color: #cdd6f4;
    border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 6px;
	padding-left: 6px;
}

#temperature.critical {
    background-color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}
